version: '3.6'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    restart: always
    networks:
      - done4fun
  api:
    build:
      context: ../done4fun-api/
    env_file:
      - ../done4fun-api/.env
    depends_on:
      - postgres
    ports:
      - "9000:9000"
    restart: always
    networks:
      - done4fun
  postgres:
    image: postgres:14
    volumes:
      - ./docker/postgres/init:/docker-entrypoint-initdb.d
    env_file:
      - ./docker/postgres/.env
    ports:
      - "5433:5432"
    restart: always
    networks:
      - done4fun
  drupal:
    build:
      context: ./docker/drupal
    env_file:
      - ./docker/drupal/.env
    ports:
      - "8081:80"
    depends_on:
      - mysql
    restart: always
    networks:
      - done4fun
  mysql:
    image: mysql:5.7
    env_file:
      - ./docker/mysql/.env
    volumes:
      - ./docker/mysql/init:/docker-entrypoint-initdb.d
    ports:
      - "3307:3306"
    restart: always
    networks:
      - done4fun
#  certbot:
#    image: certbot/certbot
#  web:
#    image: nginx:latest
#    ports:
#      - "8000:80"
#    depends_on:
#      - app
#    volumes:
#      - ./public:/var/www/html/public
#      - ./site.conf:/etc/nginx/conf.d/default.conf:ro


networks:
  done4fun:
    driver: bridge
